image: ruby:latest

services:
  - docker:dind

variables:
  CHEF_LICENSE: "accept-no-persist" # https://docs.chef.io/chef_license_accept/
  DOCKER_HOST: "tcp://docker:2375"

before_script:
  - apt-get update -y
  - apt-get upgrade -y
  - apt-get install -y rsync # needed by test-kitchen
  - ruby -v
  - bundle config set --local without development
  - bundle install -j $(nproc)

style:
  script: bundle exec rake style:all

kitchen-debian-13:
  script: bundle exec rake kitchen:default-debian-13
  parallel:
    matrix:
      - CHEF_VERSION: [18]

kitchen-debian-12:
  script: bundle exec rake kitchen:default-debian-12
  parallel:
    matrix:
      - CHEF_VERSION: [18]

kitchen-ubuntu-2404:
  script: bundle exec rake kitchen:default-ubuntu-2404
  parallel:
    matrix:
      - CHEF_VERSION: [18]
